<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <!-- The "localRepository" has to be set to ensure consistent behaviour across command-line and Eclipse.
    To change it edit conf/ide.properties -->
  <localRepository>${env.M2_REPO}</localRepository>
  <profiles>
    <profile>
      <id>ideasy</id>
      <activation>
        <activeByDefault>true</activeByDefault> 
      </activation>
      <properties>
        <!--
        <sonar.host.url>http://localhost:9000/</sonar.host.url>
        <sonar.login>${USER}</sonar.login>
        <sonar.password>TODO</sonar.password>
        <jarsigner.storepass>TODO</jarsigner.storepass>
        <jarsigner.keystore>/projects/myproject/workspaces/main/keystore.p12</jarsigner.keystore>
        <gpg.keyname>your.email@address.com</gpg.keyname>
        -->
      </properties>
    </profile>
  </profiles>
</settings>
